body {
  text-align: center;
  background-image: url("http://game-icons.net/icons/delapouite/sports/png/eight-ball.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#answer {
  margin-top: 120px;
}
